footer.pagination-centered
    :markdown
        Code licensed under the [Apache License v2.0]("http://www.apache.org/licenses/LICENSE-2.0").\n
        Based on [Bootstrap]("http://twitter.github.com/bootstrap/").
        Hosted on [GitHub]("http://pages.github.com/")
        Icons from [Glyphicons]("http://glyphicons.com/")
        Web fonts from [Google]("http://www.google.com/webfonts")       